*{
    box-sizing: border-box;
} 
 body{
    font-family: 'cairo' , 'sans-serif';
    margin: 0;
}
.container{
    padding: 0px 90px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
.shadow{
    box-shadow: 1px 1px 10px 1px #cbc9c9 ;

}
.parent form {
    padding: 20px;
}
.p-2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


